
/* classes */

.left--350-px {
	left: -350px;
}

.left--450-px {
	left: -450px;
}

.min-width-375px {
	min-width: 375px;
}

.mt-50px {
	margin-top: 50px !important;
}

.ml-0 {
	margin-left: 0 !important;
}


/* the-end-of-classes */



/* buttons */

.yellow-btn,
.grey-btn {
	color: black !important;
	background-color: #e59f0b;
	transition: background-color .3s;
	padding: 0.4rem 0.8rem;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
}

.grey-btn {
	color: white !important;
	background-color: #373c3f;
}

@media (hover: hover) {

	.yellow-btn:hover {
		background-color: white;
	}

	.grey-btn:hover {
		color: black !important;
		background-color: white;
	}

}

.yellow-btn:active {
	background-color: white;
}

.grey-btn:active {
	color: black !important;
	background-color: white;
}

.yellow-btn-color {
	background-color: #e59f0b;
}

@media (hover: hover) {

	.yellow-btn-color:hover {
		background-color: #d59205;
	}

}

.yellow-btn-color:active {
	background-color: #d59205;
}

.transparent-btn {
	color: white !important;
	background-color: transparent !important;
	transition: opacity .3s;
	opacity: .8;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
}

@media (hover: hover) {

	.transparent-btn:hover {
		opacity: 1;
		text-decoration: underline;
	}

}

.transparent-btn:active {
	opacity: 1;
	text-decoration: underline;
}

.facebook-btn,
.google-btn,
.apple-btn {
	padding: 1rem;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	color: white;
	font-weight: normal;
	transition: background-color .3s;
	background-color: #4267b2;
	display: block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

.facebook-btn span,
.google-btn span,
.apple-btn span {
	font-weight: bold;
}

.facebook-btn i,
.google-btn i,
.apple-btn i {
	margin-right: 0.5rem;
}

.google-btn {
	border: 2px solid #51595e;
	color: #51595e;
	background-color: white;
}

.apple-btn {
	background-color: #000000;
}

@media (hover: hover) {

	.facebook-btn:hover {
		background-color: #5577ba;
	}

	.google-btn:hover {
		background-color: #e8e8e8;
	}

	.apple-btn:hover {
		background-color: #1c1c1c;
	}

}	

.facebook-btn:active {
	background-color: #5577ba;
}

.google-btn:active {
	background-color: #e8e8e8;
}

.apple-btn:active {
	background-color: #1c1c1c;
}

/* the-end-of-buttons */



/* colors */ 

.color-purple {
	color: #e672cc;
}

.color-green {
	color: #21d2d1;
}

.color-pink {
	color: #a950a6;
}

.color-orange {
	color: #e5a00d;
}

/* the-end-of-colors */



/* infos-list */

.infos-list {
	width: 80%;
	margin-top: 2rem;
	padding: 3rem 10%;
	background-color: white;
	text-align: left;
}

.infos-icon {
	font-size: 50px !important;
	height: 50px;
}

.infos-text {
	color: #898a8a;
}

@media only screen and (max-width: 1024px) {

	.infos-list {
		width: 86%;
		margin-top: 0;
		padding: 2rem 7%;
	}

}

@media only screen and (max-width: 599px) {

	.infos-list.fl-smaller-screen-list-1 .fl-list-item:not(:first-child) {
		margin-top: 1rem !important;
	}

}

/* the-end-of-infos-list */



/* register-free */

.register-free-list {
	width: 80%;
	padding: 5rem 10%;
	background-color: #f9f9f9;
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
}

.register-free-item {
	
}

.register-free-title {
	color: black;
	margin: 0;
}

.register-free-text {
	color: #898a8a;
	margin: 2rem 0 0;
}

.register-free-link {
	color: white;
	background-color: #e59f0b;
	transition: background-color .3s;
	padding: 0.7rem 1.5rem;
	border-radius: 1.5rem;
	font-weight: bold;
	margin: 2rem 0 0;
}

@media (hover: hover) {

	.register-free-link:hover {
		background-color: #d59205;
	}

}

.register-free-link:active {
	background-color: #d59205;
}

.register-free-img-con {
	height: 100%;
	width: 90%;
	overflow: hidden;
}

.register-free-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

@media only screen and (max-width: 1024px) {

	.register-free-list {
		width: 86%;
		padding: 2rem 7%;
	}

	.register-free-img-con {
		width: 100%;
		margin-top: 3rem;
	}	

}

/* the-end-of-register-free */



/* posts */

.posts {
	width: 90%;
	padding: 2rem 5%;
	background-color: #f9f9f9;
	margin: 0;
	border-radius: 1rem;
	overflow: hidden;
}

.posts-title {
	margin: 0;
}

.posts-list-con {
	background-color: white;
	padding-top: 1.3rem;
}

.posts-list {
	border-radius: 0.5rem;
	overflow: hidden;
	height: 16vw;
}

.posts-item {
	overflow: hidden !important;
	height: 16vw;
}

.posts-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.posts-title {
	
}

.posts .slick-slide {
  margin: 0 8px;
}

.posts .slick-slide .slick-list {
  margin: 0 -8px;
}

@media only screen and (max-width: 1024px) {

	.posts-list,
	.posts-item {
		height: 25vw;
	}

}

@media only screen and (max-width: 599px) {

	.posts-list,
	.posts-item {
		height: 40vw;
	}

}

/* the-end-of-posts */



/* stream-free */

.stream-free-list {
	width: 80%;
	margin-top: 2rem;
	padding: 5rem 10%;
	background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%) !important;
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
}

.fl-list .stream-free-item {
	margin-top: 0 !important;
}

.stream-free-title {
	color: white;
	margin: 0;
}

.stream-free-text {
	color: white;
	margin: 2rem 0 0;
}

.stream-free-link {
	color: white;
	background-color: #e59f0b;
	transition: background-color .3s;
	padding: 0.7rem 1.5rem;
	border-radius: 1.5rem;
	font-weight: bold;
	margin: 2rem 0 0;
}

.stream-free-title,
.stream-free-text,
.stream-free-link {
	margin-left: 70px;
}

@media (hover: hover) {

	.stream-free-link:hover {
		background-color: #d59205;
	}

}

.stream-free-link:active {
	background-color: #d59205;
}

.stream-free-img-con {
	height: 400px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.stream-free-img {
	width: auto;
	height: 100%;
	min-width: 100%;
}

.stream-free-icon {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	background-color: white;
	color: black;
	transition: all .3s;
	border-radius: 50%;
}

@media (hover: hover) {

	.stream-free-icon:hover {
		-ms-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

}
.stream-free-icon:active {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {

	.stream-free-list {
		width: 86%;
		padding: 2rem 7%;
	}

	.stream-free-img-con {
		height: 200px;
	}	

	.stream-free-title,
	.stream-free-text,
	.stream-free-link {
		margin-left: 0;
	}

	.stream-free-item:last-of-type {
		margin-top: 2rem !important;
	}

}

/* the-end-of-register-free */



/* partners */

.partners {
	background-color: #f9f9f9;
	margin: 2rem 0 0;
	padding: 4rem 1rem;
}

.partners-title {
	margin-top: 0;
	color: black;
	text-align: center;
	font-size: 40px;
}

.partners-list {
	margin: 2rem auto 0;
	width: 65%;
}

.partners-item {
	margin: 1rem auto 0;
	width: 7vw;
	height: 7vw;
	overflow: hidden;
}

.partners-img {
	width: 100%;
	height: 100%;
}

.partners {
	
}

.partners {
	
}

@media only screen and (max-width: 1024px) {

	.partners-list {
		width: 90%;
	}

	.partners-item {
		width: 20vw;
		height: 20vw;
	}

	.partners-divider {
		width: 100%;
	}

	.partners-title {
		font-size: 30px;
	}

}

/* the-end-of-partners */