
footer .fl-navbar-brand {
	margin-right: 0;
	margin-bottom: 0;
}

#footerContainer {
	margin-left: 100px;
}

.footer-email {
	color: white;
	margin: 0;
}

#footerInnerContainer .fl-footer-item:first-child {
	margin-top: 0 !important;
} 

@media only screen and (max-width: 1024px) {

	#footerContainer {
		margin-left: 0;
	}

	#footerContainer > * {
		width: 100%;
		margin-top: 2.5rem;
	}

	footer .fl-navbar-brand {
		margin-top: 0;
	}

	.footer-email {
		width: 100% !important;
		margin-top: 2.5rem;
	}

}