
/* header-top-container */

.header-top-container {
	padding: 1rem 1rem 0;
	background-color: #03d17a;
}

.header-top-container-link {
	background-color: white;
	height: 100%;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	padding: 1rem;
	color: black;
	font-weight: bold;
	border: 4px solid #03d17a;
	border-bottom: 0;
	transition: border-color .3s;
	box-sizing: content-box !important;
}

.header-top-container-link:not(:first-child) {
	margin-left: 2rem;
}

@media (hover: hover) {

	.header-top-container-link:hover {
		border-color: #2bc1f2;
	}

}

.header-top-container-link i {
	color: #df2b23;
	margin-right: 1rem;
	font-size: 20px;
}

.header-top-container-link span {
	/*font-weight: bolder;*/
	font-size: 20px;
	line-height: 25px;
	color: #21116c;
	margin-right: 70px;
}

.header-top-container-link p {
	text-align: center;
	margin-bottom: 0;
}


/* the-end-of-header-top-container */



/* navbar */

.fl-navbar-nav {
	background-color: #ecebeb;
	border-bottom: 1px solid #afaeae;
	width: 100%;
}

.fl-nav-item {
	position: relative;
}

.fl-nav-item:not(:last-child)::before {
	content: " ";
	position: absolute;
	top: 10%;
	left: 100%;
	height: 80%;
	width: 0.5px;
	z-index: 9;
	background-color: #afaeae;
	cursor: initial;
}

.fl-nav-link {
	width: 100px;
	height: 110px;
	white-space: normal;
	vertical-align: top;
	border-bottom: 5px solid transparent;
}

.fl-nav-link.fl-active {
	cursor: initial;
	border-color: #2098c0;
}

.fl-nav-link i {
	color: #afaeae;
	font-size: 35px;
	height: 50px;
}

@media (hover: hover) {

	.fl-nav-link:hover i {
		color: white;
	}

}

.fl-nav-link:active,
.fl-nav-link.fl-active i {
	color: white;
}

.fl-navbar-brand,
.fl-navbar-search-parent,
.fl-navbar-links {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem; 
}

.fl-navbar-brand {
	margin-right: 180px;
}

.fl-navbar-results-of-search {
	background-color: white;
}

.fl-navbar-links {
	text-align: right;
	width: 350px !important;
}

.navbar-toggler-con {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	background-color: #ecebeb;
	border-bottom: 1px solid #afaeae;
	padding: 0.5rem 0 0;
}

.fl-navbar-toggler-line {
	margin-right: 0.5rem;
}

.fl-navbar-toggler span {
	display: inline-block;
	vertical-align: middle;
	color: #3a3939;
	font-weight: bold;
}

.fl-sm-screen-menu {
	margin-top: 0.5rem;
	position: static;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	transition: max-height 1s, padding-top 1s, padding-bottom 1s;
}


.fl-sm-screen-menu.fl-show { 
	max-height: 1500px;
}

@media only screen and (max-width: 1024px) {

	.fl-navbar-brand {
		margin-right: 0;
	}

	.fl-navbar-links {
		text-align: left;
		width: auto !important;
	}

	.fl-navbar-brand,
	.fl-navbar-search-parent,
	.fl-navbar-links {
		margin-top: 1rem;
		margin-bottom: 1rem; 
	}

}

/* the-end-of-navbar */




/* user-modal-form */

#userModalContainer .fl-modal-child {
	width: 23%;
}

#userModalContainer .fl-form {
	background-color: white;
	width: calc(100% - 4rem);
	padding: 2rem;
	position: relative;
}

#userModalContainer .fl-form-input {
	border: 1px solid #afaeae;
	color: #757373;
	border-radius: 0;
	transition: box-shadow .3s ease;
}

#userModalContainer .fl-form-input::-webkit-input-placeholder {
  	color: #757373;
}

#userModalContainer .fl-form-input::-moz-placeholder {
  	color: #757373;
}

#userModalContainer .fl-form-input::-ms-input-placeholder {
  	color: #757373;
}

#userModalContainer .fl-form-input::placeholder {
  	color: #757373;
}

#userModalContainer .fl-form-input:focus {
	box-shadow: 1px 1px 5px #2bc1f2, -1px -1px 5px #2bc1f2;
}

.user-modal-form-link {
	text-decoration: underline;
	color: #2bc1f2;
	transition: color .3s ease;
}

@media (hover: hover) {

	.user-modal-form-link:hover {
		color: #21116c;
	}

}

.user-modal-form-link:active {
	color: #21116c;
}

#userModalContainer .fl-form-title  {
	color: black;
	text-align: left;
	margin: 0;
	font-weight: bold;
}

.user-modal-con-close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #db2f44;
	background: none;
	border: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity .3s;
}


@media (hover: hover) {

	.user-modal-con-close-btn:hover {
		opacity: 1;
	}

}

.user-modal-con-close-btn:active {
	opacity: 1;
}

#userModalContainer .fl-form-submit {
	border-bottom: 5px solid #cb8403;
	border-radius: 0;
	font-weight: bold;
	font-size: 20px;
}

#userModalContainer .fl-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #afaeae;
  background-color: white !important;
}

#userModalContainer .fl-checkbox-label:hover input ~ .fl-checkmark {
   border-color: #2bc1f2;
}

#userModalContainer .fl-checkbox-label:active input ~ .fl-checkmark {
   border-color: black !important;
   background-color: black !important;
}

#userModalContainer .fl-checkbox-label:active input ~ .fl-checkmark::after {
   border-color: white;
}

#userModalContainer .fl-checkbox-label input:checked ~ .fl-checkmark {
  border-color: #2bc1f2;
}

.fl-checkbox-label .fl-checkmark:after {
  border-color: #2bc1f2;
}

@media only screen and (max-width: 1024px) {

	#userModalContainer .fl-modal-child {
		width: 90%;
	}

}

/* the-edno-of-user-modal-form */