
.fl-main-posts-link {
	text-align: center;
}

.fl-main-posts-link::before {
	position: absolute;
	content: "\f04b";
	z-index: 1;
	top: 0.5rem;
	right: 0.5rem;
	color: red;
	background-color: white;
	padding: 0.5rem 1rem;
	font-family: "FontAwesome";
	transition: background-color .3s, color .3s;
}

.fl-main-posts-link::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s;
	background-color: rgba(26,27,27,0.2);
	z-index: 1;
}	

.fl-main-posts-link:hover::before {
	color: white;
	background-color: red;
}

.fl-main-posts-link::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s;
	background-color: rgba(26,27,27,0.2);
	z-index: 10;
}	

.fl-main-posts-link:hover::after {
	opacity: 1;
}

.fl-main-posts-image-container::after {
	content: none;
}	

.main-posts-brand {
	position: absolute;
	width: 10%;
	height: auto;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 2;
}

.fl-main-posts-image {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.fl-main-posts-name {
	position: relative;
	background-color: rgba(255, 0, 0, 0.7);
	color: white;
	padding: 1rem;
	display: inline-block;
	margin-top: 80px;
}

.fl-main-posts-text {
	position: relative;
	color: red;
	background-color: rgba(249, 250, 253, 0.4);
	padding: 1rem;
	position: relative;
}

.fl-main-posts-text span {
	color: black !important;
	font-weight: bold !important;
}

.pagination-divider {
	width: 70%;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
}

.pagination-divider .fl-pagination-item:not(:last-child) {
	margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {

	.fl-main-posts-link::before {
		padding: 0.2rem 0.5rem;
	}

	.fl-main-posts-name {
		font-size: 11px;
		padding: 0.3rem;
		margin: 50px 0 0;
	}

	.fl-main-posts-text {
		margin-top: 10px;
		margin-bottom: 0;
		padding: 0.5rem;
		line-height: 15px !important;
		height: 30px !important; 
		font-size: 10px;
		width: auto !important;
	}

	.fl-main-posts-text span {
		font-size: 10px;
	}

	.pagination-divider {
		width: 100%;
	}

	.pagination-divider .fl-pagination-item:not(:last-child) {
		margin-right: 0;
	}

}

@media only screen and (max-width: 700px) {

	.fl-main-posts-name {
		margin: 30px 0 0;
	}

}

@media only screen and (max-width: 599px) {

	.fl-main-posts-name {
		margin: 80px 0 0;
	}

}

@media only screen and (max-width: 400px) {

	.fl-main-posts-name {
		margin: 50px 0 0;
	}

}			