
/* flash-simple-slider */

.fl-simple-slider {
	position: relative;
	width: 100%;
}

.fl-simple-slider-arrow {
	position: absolute;
	top: calc(50% - 22.5px);
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	transition: background-color .3s;
	z-index: 2;
	cursor: pointer;
	border: 0;
	outline: 0 !important;
}

@media (hover: hover) {

	.fl-simple-slider-arrow:hover {
		background-color: rgba(0,0,0,0.8);
	}

}

.fl-simple-slider-arrow:active {
	background-color: rgba(0,0,0,0.8);
}

.fl-simple-slider-prev {
	left: 0;
}

.fl-simple-slider-next {
	right: 0;
}

.fl-simple-slider-length {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: white;
	font-weight: bold;
	z-index: 2;
}

.fl-simple-slider-track-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.fl-simple-slider-track {
	font-size: 0;
	white-space: nowrap;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	transition-property: all;
	width: 100%;
	height: 100%;
}

.fl-simple-slider-track > * {
	font-size: 16px;
}

.fl-simple-slider-slide {
	display: inline-block;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.fl-simple-slider-track.fl-not-draggable {
	position: relative;
}

.fl-simple-slider-track.fl-not-draggable .fl-simple-slider-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	transition-property: visibility, opacity;
}

.fl-simple-slider-track.fl-not-draggable  .fl-simple-slider-slide.fl-show {
	visibility: visible;
	opacity: 1;
}

.fl-simple-slider-dots-list {
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
  	width: 80%;
  	position: absolute;
  	bottom: 3vw;
  	left: 10%;	
  	z-index: 4;
}

.fl-simple-slider-dots-item:not(:last-child) {
	margin-right: 1rem;
}

.fl-simple-slider-dot {
	border: 0;
	padding: 0;
	outline: 0 !important;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background-color: #4771de;
	transition: background-color .3s;
}

@media (hover: hover) {

	.fl-simple-slider-dot:hover {
		background-color: #2456d8;
	}

}

.fl-simple-slider-dot:active {
	background-color: #2456d8;
}

.fl-simple-slider-dot.fl-active {
	background-color: white;
}

.fl-simple-slider-track img {
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fl-simple-slider-list {
	padding: 0 1.5rem 0.5rem;
	position: absolute;
	width: calc(100% - 3rem);
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(26,27,27,0.4);
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-ms-flex-pack: start;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
}

.fl-simple-slider-item {
	margin-top: 0.5rem;
}

.fl-simple-slider-item:not(:last-child) {
	margin-right: 0.5rem;
}

.fl-simple-slider-btn {
	background-color: transparent;
	transition: background-color .3s;
	padding: 0.3rem 0.5rem;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

@media (hover: hover) {

	.fl-simple-slider-btn:hover {
		background-color: red;
	}

}

.fl-simple-slider-btn:active,
.fl-simple-slider-btn.fl-active {
	background-color: red;
}

@media only screen and (max-width: 599px) {

	.fl-simple-slider-arrow {
		top: calc(50% - 17.5px);
		width: 30px;
		height: 35px;
	}

	.fl-simple-slider-dots-item:not(:last-child) {
		margin-right: 0.8rem;
	}

	.fl-simple-slider-dot {
		width: 8px;
		height: 8px;
	}

	.fl-simple-slider-list {
		background-color: rgba(26,27,27,1);
		top: auto;
		bottom: 100%;
		padding: 0 0.5rem 0.5rem;
		width: calc(100% - 1rem);
	}

	.fl-simple-slider-btn {
		font-size: 7px;
		padding: 2px 4px;
		display: -ms-flexbox !important;
		display: flex !important;
		flex-flow: row wrap;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: row;
		justify-content: center;
		-ms-flex-pack: center;	
		align-content: center;
		-ms-flex-line-pack: center;
		align-items: center;
	  	-ms-flex-align: center;	
	}

}
